# =================== Node modules ===================
node_modules
**/node_modules

# =================== Nx & build outputs ===================
dist
**/dist
tmp
.nx
nx/cache

# =================== Frontend build outputs ===================
apps/react-app/dist

# =================== Logs ===================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =================== OS / Editor ===================
.DS_Store
Thumbs.db
.vscode
.idea

# =================== Git ===================
.git
.gitignore

# =================== Docker ===================
docker-compose.yml
.dockerignore
Dockerfile

# =================== Environment ===================
.env
.env.*
!.env.example

# =================== Tests / optional folders ===================
coverage
test-results
apps/*/e2e
apps/*/storybook
libs/*/tests
libs/*/storybook