.weather-title {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.weather-container {
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.weather-form {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.city-input {
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.2s ease;
  background-color: #1e1e1e;
  color: #fffdfd;
}

.get-weather-button {
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #bb86fc;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.05s ease;
}

.get-weather-button:hover {
  background-color: #976ccc;
}
.get-weather-button:active {
  transform: scale(0.97);
}

.weather-card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-display,
.temperature-display {
  margin-top: 15px;
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.8);
  margin-bottom: 15px;
}

.humidity-display {
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 2rem;
  color: hsla(0, 0%, 0%, 0.75);
}

.description-display {
  margin-top: 15px;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  color: hsla(0, 0%, 0%, 0.75);
}

.error-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 86%, 0.75);
}

.error-display {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 16px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  font-size: 1rem;
  font-weight: 500;
  animation: fadeOut 4s forwards; /* optional */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.weather-info-wrapper {
  position: fixed;
  top: 70px; /* adjust to your navbar height */
  left: 20px;
  z-index: 1000;
}

.weather-info-label {
  background-color: #1f1f1f;
  color: #4f9cff;
  padding: 0.5rem 0.9rem;
  border: 1px solid #4f9cff;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.weather-info-popup {
  position: absolute;
  top: 110%;
  left: 0;

  width: 300px;
  padding: 1rem;

  background-color: #1f1f1f;
  color: #fff;

  border: 1px solid #4f9cff;
  border-radius: 10px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.weather-info-wrapper:hover .weather-info-popup {
  opacity: 1;
  pointer-events: auto;
}
